/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: >1%,last 2 versions
*/

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Hành vi khi cuộn: mượt*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

/* Common */
.text-white {
  color: #fff !important; /* Ưu tiên */
}

.text-center {
  text-align: center !important;
}

.pull-right {
  float: right !important;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  border: none;
  padding: 11px 16px;
  background-color: #000;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  -webkit-appearance: none; /* Fix lỗi hiển thị trên mobile */
}

.btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.row {
  overflow: hidden; /* Để div chứa hết thẻ con khi use float và cách xa div khác*/
  margin: 0 -8px; /* sát mép trái-phải */
}

.col {
  float: left;
  padding: 0 8px;
}

.col-full {
  width: 100%;
}

.col-haft {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

/* Main */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1; /* Leave slider not inserted on header */
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none; /* hidden icons of list */
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li:hover .subnav {
  display: block; /* stronger than #nav .subnav */
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px; /* top-bottom right-left */
  display: block;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

#nav .subnav {
  position: absolute;
  display: none; /* hidden */
  min-width: 160px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  display: block;
  padding: 0 16px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
  padding: 0 24px;
  float: right;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .mobile-menu-btn:hover {
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}

#header .search-icon,
#header .menu-icon {
  color: #fff;
  font-size: 15px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px; /* Leave header not inserted on slider */
  padding-top: 50%; /* div has height = 0.5*width */
  background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-size: 24px;
  font-weight: 400;
}

#slider .text-description {
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}

#content .content-section {
  padding: 64px 16px 112px; /* Padding right-left để fix lỗi margin trên .row (tablet) */
  margin: 0 auto;
  width: 800px;
  max-width: 100%; /* Khi width<800px thì content sẽ ko bị lố màn hình */
}

#content .section-heading {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
}

#content .section-sub-heading {
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6; /* Độ mờ (0->1) */
}

#content .about-text {
  margin-top: 25px;
  text-align: justify; /* căn đều */
  line-height: 1.4; /* khoảng cách giữa 2 dòng (1.4 or 1.6) */
}

#content .members-list {
  margin-top: 16px;
}

#content .member-img {
  margin-top: 15px;
  width: 60%;
  border-radius: 4px; /* Bo tròn 4 góc (50% -> circle) */
}

.tour-section {
  background-color: #000;
}

.tickets-list {
  margin-top: 40px;
  background-color: #fff;
}

.tickets-list li {
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style-type: none;
}

.tickets-list .sold-out {
  background-color: red;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

.places-list {
  margin-top: 16px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  padding: 16px;
  background-color: #fff;
}

.place-heading {
  font-size: 15px;
}

.place-time {
  margin-top: 15px;
  opacity: 0.6;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.contact-content {
  margin-top: 32px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.4;
}

.contact-info i[class*='ti-'] {
  /* Error */
  line-height: 1.4px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
}

.map-section img {
  width: 100%;
  -webkit-filter: grayscale(0.4);
  filter: grayscale(0.4);
}

#footer {
  padding: 64px 16px;
  background-color: #f1f1f1;
  text-align: center;
}

#footer .socials-list a {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

#footer .socials-list a:hover {
  cursor: auto;
  opacity: 0.4;
}

#footer .copyright {
  margin: 15px 0;
  color: #000;
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container {
  background: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-width: 200px;
  position: relative;
  -webkit-animation: modalFadeIn ease 0.5s;
  animation: modalFadeIn ease 0.5s;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  opacity: 0.8;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-header {
  background: #009688;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-header-icon {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  padding: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets {
  background: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}

#buy-tickets:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

@-webkit-keyframes modalFadeIn {
  from {
    -webkit-transform: translateY(-140px);
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalFadeIn {
  from {
    -webkit-transform: translateY(-140px);
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
